<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ExitGet" verbose="1" >

    <listeners>
        <listener class-name="com.ksergie.RetryListener"/>
    </listeners>

    <test name="Test on [Chrome]">
        <parameter name="selenium.browser" value="chrome" />
        <classes>
            <class name="com.ksergie.MainPageTests">
                <methods>
                    <include name="testChatClient"/>
                    <include name="testBlogButtonAndLink"/>
                    <include name="testMainMenuItems"/>
                    <include name="testFooterMenuItems1"/>
                    <include name="testFooterMenuItems2"/>
                    <include name="testSignUpButtons"/>
                    <include name="testExitGetLogo"/>
                    <include name="testLoginButton"/>
                    <include name="testBlogLinks"/>
                    <include name="testScreenshotMsg"/>
                    <include name="testPreviewPopupButtons"/>
                    <include name="testD3CenterLink"/>
                </methods>
            </class>
            <class name="com.ksergie.LoginPageTests">
                <methods>
                    <include name="testLoginWithCorrectData"/>
                    <include name="testNeedHelpLink"/>
                    <include name="testForgotPasswordLink"/>
                    <include name="testCreateNewOneLink"/>
                </methods>
            </class>
            <class name="com.ksergie.SignUpPageTests">
                <methods>
                    <include name="testLoginLink"/>
                    <include name="testTermOfServiceLink"/>
                    <include name="testPrivacyPolicyLink"/>
                    <include name="testUserRegistration"/>
                </methods>
            </class>
            <class name="com.ksergie.PricingPageTests">
                <methods>
                    <include name="testMonthlyButton"/>
                    <include name="testYearlyButton"/>
                    <include name="testMonthlySelectPlanButton"/>
                    <include name="testYearlySelectPlanButton"/>
                </methods>
            </class>
            <class name="com.ksergie.SelectAccountPageTests">
                <methods>
                    <include name="testSelectAccount"/>
                </methods>
            </class>
            <class name="com.ksergie.SubscribePageTests">
                <methods>
                    <include name="testChooseSubscription"/>
                    <include name="testPlanLink"/>
                    <include name="testDisplayedPlans"/>
                    <include name="testSubscribeButton"/>
                </methods>
            </class>
            <class name="com.ksergie.DashboardPageTests">
                <methods>
                    <include name="testOpenDashboardPage"/>
                    <include name="testAccountButton"/>
                    <include name="testQuickStartGuide"/>
                </methods>
            </class>
            <class name="com.ksergie.DashboardAccountPageTests">
                <methods>
                    <include name="testCloseButton"/>
                    <include name="testResetAccountWithPassword"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Test on [Firefox]">
        <parameter name="selenium.browser" value="firefox" />
        <classes>
            <class name="com.ksergie.MainPageTests">
                <methods>
                    <include name="testChatClient"/>
                    <include name="testBlogButtonAndLink"/>
                    <include name="testMainMenuItems"/>
                    <include name="testFooterMenuItems1"/>
                    <include name="testFooterMenuItems2"/>
                    <include name="testSignUpButtons"/>
                    <include name="testExitGetLogo"/>
                    <include name="testLoginButton"/>
                    <include name="testBlogLinks"/>
                    <include name="testScreenshotMsg"/>
                    <include name="testPreviewPopupButtons"/>
                    <include name="testD3CenterLink"/>
                </methods>
            </class>
            <class name="com.ksergie.LoginPageTests">
                <methods>
                    <include name="testLoginWithCorrectData"/>
                    <include name="testNeedHelpLink"/>
                    <include name="testForgotPasswordLink"/>
                    <include name="testCreateNewOneLink"/>
                </methods>
            </class>
            <class name="com.ksergie.SignUpPageTests">
                <methods>
                    <include name="testLoginLink"/>
                    <include name="testTermOfServiceLink"/>
                    <include name="testPrivacyPolicyLink"/>
                    <include name="testUserRegistration"/>
                </methods>
            </class>
            <class name="com.ksergie.PricingPageTests">
                <methods>
                    <include name="testMonthlyButton"/>
                    <include name="testYearlyButton"/>
                    <include name="testMonthlySelectPlanButton"/>
                    <include name="testYearlySelectPlanButton"/>
                </methods>
            </class>
            <class name="com.ksergie.SelectAccountPageTests">
                <methods>
                    <include name="testSelectAccount"/>
                </methods>
            </class>
            <class name="com.ksergie.SubscribePageTests">
                <methods>
                    <include name="testChooseSubscription"/>
                    <include name="testPlanLink"/>
                    <include name="testDisplayedPlans"/>
                    <include name="testSubscribeButton"/>
                </methods>
            </class>
            <class name="com.ksergie.DashboardPageTests">
                <methods>
                    <include name="testOpenDashboardPage"/>
                    <include name="testAccountButton"/>
                    <include name="testQuickStartGuide"/>
                </methods>
            </class>
            <class name="com.ksergie.DashboardAccountPageTests">
                <methods>
                    <include name="testCloseButton"/>
                    <include name="testResetAccountWithPassword"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Test on [Edge]">
        <parameter name="selenium.browser" value="edge" />
        <classes>
            <class name="com.ksergie.MainPageTests">
                <methods>
                    <include name="testChatClient"/>
                    <include name="testBlogButtonAndLink"/>
                    <include name="testMainMenuItems"/>
                    <include name="testFooterMenuItems1"/>
                    <include name="testFooterMenuItems2"/>
                    <include name="testSignUpButtons"/>
                    <include name="testExitGetLogo"/>
                    <include name="testLoginButton"/>
                    <include name="testBlogLinks"/>
                    <include name="testScreenshotMsg"/>
                    <include name="testPreviewPopupButtons"/>
                    <include name="testD3CenterLink"/>
                </methods>
            </class>
            <class name="com.ksergie.LoginPageTests">
                <methods>
                    <include name="testLoginWithCorrectData"/>
                    <include name="testNeedHelpLink"/>
                    <include name="testForgotPasswordLink"/>
                    <include name="testCreateNewOneLink"/>
                </methods>
            </class>
            <class name="com.ksergie.SignUpPageTests">
                <methods>
                    <include name="testLoginLink"/>
                    <include name="testTermOfServiceLink"/>
                    <include name="testPrivacyPolicyLink"/>
                    <include name="testUserRegistration"/>
                </methods>
            </class>
            <class name="com.ksergie.PricingPageTests">
                <methods>
                    <include name="testMonthlyButton"/>
                    <include name="testYearlyButton"/>
                    <include name="testMonthlySelectPlanButton"/>
                    <include name="testYearlySelectPlanButton"/>
                </methods>
            </class>
            <class name="com.ksergie.SelectAccountPageTests">
                <methods>
                    <include name="testSelectAccount"/>
                </methods>
            </class>
            <class name="com.ksergie.SubscribePageTests">
                <methods>
                    <include name="testChooseSubscription"/>
                    <include name="testPlanLink"/>
                    <include name="testDisplayedPlans"/>
                    <include name="testSubscribeButton"/>
                </methods>
            </class>
            <class name="com.ksergie.DashboardPageTests">
                <methods>
                    <include name="testOpenDashboardPage"/>
                    <include name="testAccountButton"/>
                    <include name="testQuickStartGuide"/>
                </methods>
            </class>
            <class name="com.ksergie.DashboardAccountPageTests">
                <methods>
                    <include name="testCloseButton"/>
                    <include name="testResetAccountWithPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
